.title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;

    ion-skeleton-text {
        max-width: 10rem;
        --background: rgba(255, 255, 255, 0.765);
        --background-rgb: 255, 255, 255;
    }
}

.content {
    max-width: 55rem;
    margin: auto;
}

.person {
    display: flex;
    flex-direction: row;

    &.left {
        flex-direction: row-reverse;
    }

    --animation-length: var(--animation-length, 0.5s);
    --render-diff: var(--render-diff, 0);

    transform: translateY(calc(var(--render-diff) * 3rem));

    ion-avatar {
        height: 2rem;
        width: 2rem;
    }

    -webkit-transition: transform var(--animation-length) ease-in-out;
    transition: transform var(--animation-length) ease-in-out;
}

.give-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    & > * {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 2rem;
    }

    padding: 0.5rem;
}

.person-list {
    display: flex;
    flex-direction: column;
}

.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    & > * {
        min-width: min(20rem, 100%);
    }
}
