ion-avatar {
  margin-right: 1rem;
}

.content {
  max-width: 55rem;
  margin: auto;
}

.person {
  --animation-length: var(--animation-length, 0.5s);

  -webkit-transition: transform var(--animation-length) ease-in-out;
  transition: transform var(--animation-length) ease-in-out;
}

.person-list {
  display: flex;
  flex-direction: column;
}

.settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  & > * {
    min-width: min(20rem, 100%);
  }
}
